.speed {
    width: auto;
    height: 16px;
    position: relative;
    margin-left: 40px;
}

.speed-title {
    margin: 5px;
}

.speed .a {
    position: absolute;
    background: rgb(190, 190, 190);
    border: 1px solid rgb(190, 190, 190);
    z-index: 1;
    height: 16px;
}

.speed .b {
    position: absolute;
    background: #00ff87;
    border: 1px solid rgb(190, 190, 190);
    z-index: 2;
    height: 16px;

}

.speed .c {
    position: absolute;
    background: transparent;
    border: 1px solid rgb(190, 190, 190);
    color: #ffffff;
    z-index: 3;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
}